@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .header {
        height: 735px;
        background-image: url(img/topback_mob.jpg);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 32px;

        &__title {
            font-size: 32px;
            line-height: normal;
            padding: 0;
            text-align: center;
        }

        &__text {
            font-size: 14px;
            font-style: normal;
            line-height: 22px;
            text-align: center;
            padding: 0;
        }
    }

    .top {
        height: 1221px;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;

        &__item {
            grid-column: 1/-1;
            color: #FFF;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            text-decoration: none;
        }
    }
}